{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% tailwind_css %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Справка</title>
    </head>
    <body class="bg-gray-100 min-h-screen">

    <!-- Шапка -->
    <nav class="bg-white shadow-lg">
        <div class="mx-auto max-w-10x1">
            <div class="flex items-center justify-between">
                <!-- Заголовок -->
                <h1 class="m-0 p-4 text-2xl">Спортивный инвентарь</h1>
                <!-- Вкладки -->
                <div class="h-16 flex items-center justify-between">
                    <div class="h-full px-4 flex items-center border-l hover:bg-emerald-50 transition">
                        <a href="{% url 'inventory' %}">Инвентарь</a>
                    </div>
                    <div class="h-full px-4 flex items-center border-l hover:bg-emerald-50 transition">
                        <a href="{% url 'help' %}">Справка</a>
                    </div>
                    <div class="h-full px-4 flex items-center border-l hover:bg-emerald-50 transition">
                        <a class="text-center text-white flex justify-center items-center rounded-full bg-emerald-400" style="width: 50px; height: 50px;" role="button" href="{% url 'profile' %}">
                            {{ user.first_name|slice:'0:1' }}{{ user.last_name|slice:'0:1' }}
                        </a>
                    </div>                        
                </div>
            </div>
        </div>
    </nav>

        <div class="container mx-auto mt-8 px-4">
            <h2 class="text-center text-3xl font-bold  mb-6">Справочная информация</h2>
            <div class="space-y-4">
                <div class="border rounded-lg shadow-md">
                    <button class="w-full text-left px-4 py-3 bg-white font-medium  hover:bg-emerald-50 transition" type="button" onclick="toggleCollapse('collapseOne')">
                        Как зарегистрироваться на сайте?
                    </button>
                    <div id="collapseOne" class="hidden px-4 py-3 ">
                        Чтобы зарегистрироваться, перейдите на страницу 
                        <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Регистрация</a> и заполните форму с вашими данными.
                    </div>
                </div>
                <div class="border rounded-lg shadow-md">
                    <button class="w-full text-left px-4 py-3 bg-white font-medium  hover:bg-emerald-50 transition" type="button" onclick="toggleCollapse('collapseTwo')">
                        Как добавить предмет в инвентарь?
                    </button>
                    <div id="collapseTwo" class="hidden px-4 py-3 ">
                        После авторизации перейдите на страницу управления инвентарём и заполните форму для добавления нового предмета.
                    </div>
                </div>
                <div class="border rounded-lg shadow-md">
                    <button class="w-full text-left px-4 py-3 bg-white font-medium  hover:bg-emerald-50 transition" type="button" onclick="toggleCollapse('collapseThree')">
                        Как редактировать или удалить предмет?
                    </button>
                    <div id="collapseThree" class="hidden px-4 py-3 ">
                        Чтобы редактировать или удалить предмет, используйте соответствующие кнопки в таблице управления инвентарём.
                    </div>
                </div>

            </div>
            <div class="mt-10">
                <h4 class="text-xl font-semibold  mb-2">Контакты для связи</h4>
                <p class=" mb-4">Если у вас остались вопросы, свяжитесь с нами:</p>
                <ul class="list-disc list-inside "> <!--TODO поменять данные-->
                    <li>Email: <a href="mailto:support@example.com" class="text-blue-500 hover:underline hover:text-emerald-500">support@example.com</a></li>
                    <li>Телефон: <a href="tel:+1234567890" class="text-blue-500 hover:underline hover:text-emerald-500">+1 234 567 890</a></li>
                </ul>
            </div>

        </div>

        <script>
            function toggleCollapse(id) {
                const content = document.getElementById(id);
                content.classList.toggle("hidden");
            }
        </script>

    </body>
</html>
