<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <title>Главная</title>
    </head>

    <body>
        <!-- Панель навигации -->
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 mx-1">Вид от имени администратора</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-0">
                    <li class="nav-item">
                        <a class="nav-link fs-4 me-1" href="index.html">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Инвентарная таблица -->
        <div class="mx-3 mt-3">Весь инвентарь</div>

        <div class="row m-0">
            <div class="col-8">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Предмет</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Состояние</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <input type="text" class="form-control" value="Клюшка">
                            </th>
                            <td>
                                <input type="number" class="form-control" value="1">
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="1">Новое</option>
                                    <option value="2">Используется</option>
                                    <option value="3">Сломано</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success" id="1">✓</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input type="text" class="form-control" value="Клюшка">
                            </th>
                            <td>
                                <input type="number" class="form-control" value="2">
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="1">Новое</option>
                                    <option value="2">Используется</option>
                                    <option value="3">Сломано</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success" id="2">✓</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input type="text" class="form-control" value="Шайба">
                            </th>
                            <td>
                                <input type="number" class="form-control" value="15">
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="1">Новое</option>
                                    <option value="2">Используется</option>
                                    <option value="3">Сломано</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success" id="3">✓</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Добавление предметов инвентаря -->
            <div class="col-4">
                <div class="my-3 text-secondary">Чтобы добавить предмет, заполните форму.</div>
                <form class="col">
                    <!-- Предмет -->
                    <div class="col-12 mb-2">
                        <input type="text" class="form-control" id="inputItem" placeholder="Предмет">
                    </div>
                    <!-- Количество -->
                    <div class="col-12 mb-2">
                        <input type="number" class="form-control" id="inputCount" placeholder="Количество">
                    </div>
                    <!-- Состояние -->
                    <div class="col-12 mb-2">
                        <select class="form-select" aria-label="Default select example" id="selectState">
                            <option selected disabled>Выберите состояние</option>
                            <option value="1">Новое</option>
                            <option value="2">Используется</option>
                            <option value="3">Сломано</option>
                        </select>
                    </div>
                    <div class="col-12 mb-2">
                        <button type="submit" class="btn btn-primary mt-1" id="buttonSubmit">Добавить</button>
                    </div>
                    <div>
                        <p class="text-secondary">Предмет добавится в ближайшее время.</p>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="js/scripts/admin.js"></script>
</html>
