{% load static %}
<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css_ed/custom.css' %}" rel="stylesheet">
        <title>Главная</title>
    </head>

    <body>
        <!-- Панель навигации -->
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 mx-1">Приложение для управления спортивным инвентарём</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-4" aria-current="page" href="index.html">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 me-1" href="help.html">Справка</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Форма для входа -->
        <div class="m-3">
            <p class="text-body">
                Чтобы войти, заполните форму:
            </p>
        </div>
        <form class="col m-3">
            <div class="col-4 mb-2">
                <input type="text" class="form-control" placeholder="Логин" id="inputLogin">
            </div>
            <div class="col-4 mb-4">
                <input type="password" class="form-control" placeholder="Пароль" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-primary" id="buttonSubmit">Войти</button>
        </form>
        
        <div class="m-3">
            <p class="text-secondary">Не зарегистрированы? Тогда вам сюда: <a class="link" href="registration.html">зарегистрироваться</a>.</p>
        </div>
        <div class="m-3">
            <p class="m-0 text-info">Пользователь</p>
            <p class="m-0">Логин: user, пароль: user</p>
            <p class="m-0 mt-3 text-info">Администратор</p>
            <p class="m-0">Логин: admin, пароль: admin</p>
        </div>

        <script type="text/javascript" src="{% static 'js/scripts/dummytext.js' %}"></script>
    </body>
</html>
